footer {
    @media screen and (min-width: 1088px) {
        .box {
            height: 100%;

            .second-box {
                flex-direction: column;
            }
        }
    }
    .box {
        .first-box {
            margin-bottom: 0.625rem;
        }

        .second-box {
            > a {
                @media screen and (max-width: 520px) {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}