.hero {
	&.has-picture-students {
		background: url("../assets/pictures/homepage.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;

		.hero-body {
			background-color: rgba($primary, 0.25);
			color: $white;
		}
	}

	&.has-picture-404 {
		background: url("../assets/pictures/404.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;

		.hero-body {
			background-color: rgba($primary, 0.25);
			color: $white;
		}
	}

	&.has-picture-igii {
		overflow: visible;
		position: relative;

		@media screen and (min-width: 1472px) {
			min-height: 50rem;
		}

		.hero-body {
			color: $white;

			@media screen and (min-width: 1472px) {
				padding-bottom: 0;
				padding-top: 0;
				display: flex;
				
				.container {
					margin: auto;
				}
			}

			.container {
				background-color: rgba($primary, 0.55);
			}

			.content-video {
				@media screen and (min-width: 1472px) {
					padding-top: 0.9375rem;
					padding-bottom: 0.9375rem;
				}
			}
		}
	}

	&-with-video {
		overflow: hidden;
		user-select: none;
		touch-action: none;
		pointer-events: none;

		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
	}

	.title {
		font-size: $size-1;
		color: $white;
		@include mobile {
			font-size: $size-2;
		}
	}
	.subtitle {
		font-size: $size-3;
		color: $white;
		@include mobile {
			font-size: $size-4;
		}
	}
}
